<!DOCTYPE html>
<!-- Site Designed and Built by Mitchell Kates, www.mitchellkates.com -->

 <!-- Load In Template Tags -->
{% load core_tags %}

<html lang="en">

<head>

<!-- Page Header Requirements -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Responsive design -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- For Internet Explorer -->

<!-- Meta Information -->
<title>{% block title %}Vetcove: Veterinary Supply Starts Here{% endblock%}</title>
<meta name="keywords" content="Veterinary, Animal, Supplies, Pharmaceuticals, Equipment, Diagnostics, Biologics, Insect, Parasite, Cat, Dog, Horse, Cow, Equine, Small Animal, Large Animal, Health, Food, Hospital, Clinic">
<meta name="description" content="Vetcove is the single source for veterinarians to research and buy supplies, pharmaceuticals, equipment, diagnostics, biologics, food, and software for dogs, cats, equine & more!">

<!-- Open Graph Information -->
<meta property="og:title" content="Vetcove" />
<meta property="og:description" content="Vetcove is the single source for veterinarians to research and buy supplies, pharmaceuticals, equipment, diagnostics, biologics, food, and software for dogs, cats, equine & more!" />
<meta property="og:image" content="{{STATIC_URL}}img/logo/paw_logo.png" /> <!-- Image used when sharing on social networks -->

<!-- Favicon -->
<link rel="icon" href="{{STATIC_URL}}img/logo/favicon.png" type="image/x-icon">

<!--CSS-->
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
<link href="{{STATIC_URL}}plugins/buttons.css" rel="stylesheet" type="text/css" />
{# <link href="{{STATIC_URL}}general/form.css" rel="stylesheet" type="text/css" /> #}

<!-- Less Files -->
<link href="{{STATIC_URL}}less/main.less" rel="stylesheet/less" type="text/css" />
<script src="{{STATIC_URL}}js/less.js"></script>

</head>


<body>
{% block body %}
<div class="body-container">

	<!-- Messages -->
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
	        {{ message }}
	    </li>
	    {% endfor %}
	</ul>
	{% endif %}
	<!-- End of Messages -->

	<!-- Header -->
	<header class="header">
	<!-- Main Header Bar -->
	<div class="header-main">
		<!-- Logo -->
		<div class="header-left">
			<a class="header-logo" href='/'>
				<img id="main-logo" src="{{STATIC_URL}}img/logo/paw_logo_beta.png" alt="VetCove"/>
				<img id="main-logo-alt" src="{{STATIC_URL}}img/logo/paw_logo_beta_purple.png" alt="VetCove"/>
			</a>
		</div>
		<!-- Right Side Navigation -->
		<div class="header-right">
			{% if basicuser %}
				{% if clinic %}
				    <!-- Main Browsing Bar -->
					<div class="header-right-element navigation-menu">
						<a href='/dashboard' class="item{% if page_dashboard %} active{% endif %}">
							<div class="image"></div>
							<p>Dashboard</p>
						</a><a href='/deals' class="item{% if page_deals %} active{% endif %}">
							<div class="image" style='background-position: -21px 0'></div>
							<p>Deals</p>
						</a><a href='/trending' class="item{% if page_trending %} active{% endif %}">
							<div class="image" style='background-position: -42px 0'></div>
							<p>Trending</p>
						</a><a href='/new' class="item{% if page_new %} active{% endif %}">
							<div class="image" style='background-position: -63px 0'></div>
							<p>New Products</p>
						</a><a href='/rewards' class="item{% if page_rewards %} active{% endif %}">
							<div class="image" style='background-position: -84px 0'></div>
							<p>Rewards</p>
						</a>
					</div>
					<!-- Cart and Checkout -->
					<div class='header-right-element actions'>
						<!-- Cart Button -->
						<div class="cart-container dropdown-container">
							<a href='/cart' class="button button-rounded dropdown-handle cart-button" data-dropdown="cart-dropdown">
								<span class="glyphicon glyphicon-shopping-cart"></span><span class="label">2</span>
							</a>
							<div id="cart-dropdown" class="dropdown-box cart-dropdown">
								{% if basicuser %}
									<a href='/cart' class="cart-item">
										<div class="cart-item-image cart-item-div">
											<img src='{{STATIC_URL}}img/placeholder_pics/search/2.jpg'>
										</div>
										<div class="cart-item-info cart-item-div">
											<p class="cart-item-name">Rimadyl Chewable Tablets</p>
											<p class="cart-item-details">Quantity: 2 | $13.92</p>
										</div>
									</a>
									<a href='/cart' class="cart-item">
										<div class="cart-item-image cart-item-div">
											<img src='{{STATIC_URL}}img/placeholder_pics/search/6.jpg'>
										</div>
										<div class="cart-item-info cart-item-div">
											<p class="cart-item-name">Equizone Phenylbutazone Powder</p>
											<p class="cart-item-details">Quantity: 4 | $13.92</p>
										</div>
									</a>
								{% endif %}
								<div class="cart-button">
									<a href="/cart" class="button button-rounded">View Cart <span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
						</div>
						<!-- Checkout Button -->
						<a href='/cart' class="button button-primary button-rounded">
							<div class="checkout">
								Checkout <span class="glyphicon glyphicon-chevron-right"></span>
							</div>
						</a>
					</div>
				{% else %}
					<!-- Main Supplier Bar -->
					<div class="header-right-element navigation-menu">
						<a href='/portal/dashboard' class="item{% if portal_dashboard %} active{% endif %}">
							<div class="image"></div>
							<p>Dashboard</p>
						</a><a href='/portal/inventory' class="item{% if portal_inventory %} active{% endif %}">
							<div class="image" style='background-position: -147px 0'></div>
							<p>Inventory</p>
						</a><a href='/portal/product' class="item{% if portal_product %} active{% endif %}">
							<div class="image" style='background-position: -168px 0'></div>
							<p>Products</p>
						</a><a href='/portal/purchases' class="item{% if portal_purchases %} active{% endif %}">
							<div class="image" style='background-position: -210px 0'></div>
							<p>Orders</p>
						</a><a href='/portal/community' class="item{% if portal_community %} active{% endif %}">
							<div class="image" style='background-position: -105px 0'></div>
							<p>Community</p>
						</a><a href='/portal/promotions' class="item{% if portal_promotions %} active{% endif %}">
							<div class="image" style='background-position: -21px 0'></div>
							<p>Promotions</p>
						</a><a href='/portal/reports' class="item{% if portal_reports %} active{% endif %}">
							<div class="image" style='background-position: -42px 0'></div>
							<p>Reports</p>
						</a>
					</div>
				{% endif %}
			{% else %}
				<!-- Generic Menu When Not Logged In -->
				<ul class="generic-menu">
					<li><a class="{% if learn_features %}active{% endif %}" href='/learn/features'>Veterinarians</a></li>
					<li><a class="{% if learn_supplier %}active{% endif %}" href='/learn/supplier'>Suppliers</a></li>
					<li><a class="{% if about %}active{% endif %}" href='/about'>About</a></li>
					<li><a class="{% if faq %}active{% endif %}" href='/faq'>Help</a></li>
					<li><a class="action-button" href='/signup'>Sign Up</a></li>
					<li><a class="action-button" href='/signin'>Log In</a></li>
				</ul>
			{% endif %}
		</div>
	</div>

	<!-- Second Header Bar (Search Bar) -->
	<div class="header-bar">
		<div class="element fixed categories-element dropdown-container">
			<a href='/categories' class="element-link categories double-row dropdown-handle" data-dropdown="categories-dropdown">
				<p>Browse by</p>
				<p>Categories <b class="caret"></b></p>
			</a>
			<div id="categories-dropdown" class="category-box dropdown-box">
				<div class="category-menu">
					<ul id="category-menu-ul">
						{% for key,category in maincategories.items %}
							<li><a data-name="{{category.name}}" class="category-menu-item" href='/category/{{category.name}}'>{{category.displayname}}<span> &rsaquo; </span></a></li>
						{% endfor %}
						<li><a href='/categories' class="full-directory">See Full Directory</a></li>
					</ul>
				</div>
				<div class="category-content">
					{% for key,category in maincategories.items %}
						<div id="menu-{{category.name}}" class="category-info">
							<h1>{{category.displayname}}</h1>
								{% for subcategory in category.subcat %}
								<div class="category-info-box">
									<a href='/category/{{subcategory.0}}'>{{subcategory.1}}</a>
								</div>
								{% endfor %}
							
						</div>
					{% endfor %}
					<div id="menu-diagnosticexams" class="category-info">
						<h1>Diagnostic Exams</h1>
					</div>
					<div id="menu-diagnostics" class="category-info">
						<h1>Diagnostics</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="element variable search-element">
			<form class="search" action='/form/search' method="POST">
				<table id="search-table" class="search-table">
					<tr>
						<td><input class="form-control" id="searchinput" autocomplete="off" name="search" placeholder="{% if supplier %}Search products, inventory, purchases, veterinarians{% else %}Search Equipment by Name, ID, Ingredients, Features . . .{% endif %}"/><span id="search-exit">&#10006;</span></td>
						<td class="button-td"><button value="submit" class="button button-rounded">Go</button></td>
					</tr>
				</table>
			</form>
			<div id="autosuggest" >
				<div class="section categoriesheader">
					Categories
				</div>
				<div id="categoriessection" class="section-content">
				</div>
				<div class="section productsheader">
					Products
				</div>
				<div id="productssection" class="section-content">
				</div>
				<div class="section manufacturerheader">
					Manufacturers
				</div>
				<div id="manufacturerssection" class="section-content">
				</div>
			</div>
		</div>
		<div class="element fixed dropdown-container">
			<a href='/notifications' class="element-link notification dropdown-handle" data-dropdown="notification-dropdown">
				<p><span class="glyphicon glyphicon-comment"></span> {% if basicuser %}<span class="label">2</span>{% endif %}</p>
			</a>
			<div id="notification-dropdown" class="dropdown-box notification-dropdown dropdown-left">
				{# <p style="text-align: center; padding: 20px" class="">No New Notifications</p> #}
				<a class="" href="#">Your order #93DUJ32 has shipped</a>
				<a class="" href="#">Joe from Merial has answered your question</a>
				<a class="divider"></a>
				<a class='#'>View all Notifications</a>
			</div>
		</div>
		<div class="element fixed dropdown-container">
			<a href='/rewards' class="element-link double-row dropdown-handle" data-dropdown='credit-dropdown'>
				<p>Your</p>
				<p>Credits <b class="caret"></b></p>
			</a>
			<div id="credit-dropdown" class="dropdown-box goal-dropdown dropdown-left">
				{% if basicuser %}
				<p class="highlight"><strong>Credit Balance: 320 credits</strong></p>
				{% endif %}
				<a class="" href="/rewards">Monthly VetCove Rewards</a>
				<a class="" href="/rewards">Manufacturer Rebates</a>
				<a class="" href="/rewards/store">Redeem Your Credits</a>
			</div>
		</div>
		<div class="element fixed account-element dropdown-container">
			<a href='/account' class="element-link double-row account dropdown-handle" data-dropdown="account-dropdown">
				<p class="companyname">{% if basicuser %}{% if clinic %}Colts Neck Equine{% else %}Stokes Pharmacy{% endif %}{% else %}Hello. Log In{% endif %}</p>
				<p>Your Account <b class="caret"></b></p>
			</a>
			<div id="account-dropdown" class="dropdown-box account-dropdown dropdown-left">
			{% if not basicuser %}
				<div class="portal-enter">
					<div>
						<a href='/signin' class="sigin button button-rounded button-primary">Log In</a>
					</div>
					<span class="newcustomer"><p>New Customer?</p> <a href='/signup'>Sign Up Here</a></span>
					<div class="divider"></div>
				</div>
			{% endif %}
				{% if not supplier %}
				<a class="" href="/account/profile">Your Account</a>
				<a class="" href="#">Your Orders</a>
				<a class="" href="#">Your Returns</a>
				<a class="" href="#">Purchase Analytics</a>
				<div class="divider"></div>
				<a class="" href="/account/questions">Your Questions</a>
				<a class="" href="/account/reviews">Your Reviews</a>
				<div class="divider"></div>
				<a class="" href="/account/sell">Your Listed Items</a>
				{% else %}
				<a class="" href="/account/profile">Your Account</a>
				<a class="" href="#">Settings</a>
				<a class="" href="#">Help</a>
				{% endif %}
				{% if basicuser %}
				<div class="divider"></div>
				<a class="" href="/logout">Logout</a>
				{% endif %}
			</div>
		</div>
	</div><!-- End of Second Header -->
</header>
	<!-- End of Header -->

	<!-- Content -->
	{% block content %}
	<div class="content"></div>
	{% endblock %}
	<!-- End of Content -->

	<!-- Footer -->
	{% include 'layout/footer.html' %}
	<!-- End of Footer -->

	<!-- Back to Top-->
	{% block backtotop %}
	<a href="#" class="back-to-top">Back to Top</a>
	{% endblock %}

</div>
{% endblock %}<!-- End of body -->


<!--Javascript-->
<script type="text/javascript">  
var noImageURL = '{{STATIC_URL}}img/noimage/noimage.jpg';
</script>
<script src="{{STATIC_URL}}js/plugins/jquery-2.1.1.min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/plugins/bootstrap/bootstrap.min.js" type="text/javascript" ></script>
<script type="{{STATIC_URL}}js/plugins/retina.min.js"></script> 
<script src="{{STATIC_URL}}js/plugins/jquery.menu-aim.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/plugins/hoverIntent.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/basic/autosuggest.js" type="text/javascript" ></script>

<!-- Includes all the main JS elements -->
<script src="{{STATIC_URL}}js/main.js" type="text/javascript" ></script>

<!-- Google Analytics Code -->
 <script>
	  //  //Google Analytics Code
	  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  // ga('create', 'UA-45863765-1', 'vetcove.com');
	  // ga('send', 'pageview');
 </script>
 <!-- End of Google Analytics -->
   
</body>

</html>