{% extends 'general/company/base.html' %}

{% block hero %} About Us {% endblock %}

{% block content %}

{{block.super}}

<div class="static-page centered">
	<div class="section thin">
		<h3>We're Making Order Supplies Dead Simple</h3>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit </p>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. </p>
	</div>
	<div class="section">
		<div class="testimonial-grid">
			<div class="collage-box collage-box-tall collage-box-fat">
				<div class="img"></div>
			</div>
			<div class="collage-box collage-box-short collage-box-skinny">
				<div class="img"></div>
			</div>
			<div class="collage-box collage-box-short collage-box-skinny">
				<div class="img"></div>
			</div>
			<div class="collage-box collage-box-short collage-box-fat">
				<div class="img"></div>
			</div>
			<div class="collage-box collage-box-short collage-box-fat">
				<div class="img"></div>
			</div>
			<div class="collage-box collage-box-short collage-box-skinny">
				<div class="img"></div>
			</div>
			<div class="collage-box collage-box-short collage-box-skinny">
				<div class="img"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="section thin">
		<h3>Our Team</h3>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit </p>
	</div>
</div>

{% endblock %}