{% extends 'general/company/base.html' %}

{% load staticfiles %}

{% block title %} About Us {% endblock %}
{% block hero %} About Us {% endblock %}

{% block content %}

{{block.super}}

<div class="section feature white">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Why Was Vetcove Created?</h3>
				<p class="thin">We veterinarians face a daunting task in keeping our clinics supplied. We juggle orders, invoices, and communications with our representatives from multiple suppliers. We have no way to stay in the loop with the latest promotions or supply chain updates. We spend countless hours doing fruitless research using fragmented information, word of mouth, and trial-and-error. With Vetcove, all of that is about to change.</p>
			</div>
		</div>
	</div>
</div>
<div class="section feature light">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>What is Vetcove?</h3>
				<p class="thin">Vetcove is the new eCommerce platform exclusively for veterinary clinics and hospitals that makes supplying your practice a breeze. We bring together the entire supply chain—manufacturers, distributors, compounding pharmacies, and diagnostic labs—into one smart website. For the first time ever, clinics can transparently research products, place orders, access customer service, and manage the entire supply side of their businesses in one place. Best of all, we use the latest technologies to ensure veterinarians get the absolute best and most user-friendly experience available anywhere. We combine insights from the veterinary and supply community with algorithmic learning to ensure you're the smartest supply purchaser you can be.</p>
			</div>
		</div>
	</div>
</div>
<div class="section feature white">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Our Mission</h3>
				<p class="thin">Our mission is to use the latest technologies to help clinics order the best possible products, from the right suppliers, at the right prices. We seek to take the pain out of the entire supply process so that you can get back to helping your patients. You're veterinarians after all—not procurement experts.</p>
			</div>
		</div>
	</div>
</div>
<div class="section feature light">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Our Team</h3>
				<p class="thin">In early 2014, a team of MIT and Cornell engineers teamed up with practicing veterinarians with the goal of creating the best veterinary supply platform ever. Our team includes accomplished computer scientists, published digital marketers, equine veterinarians, and clinic ordering managers. Vetcove is family owned and operated, and is based in Colts Neck, NJ with operations in Jersey City, New York, and Boston.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}