{% extends 'base.html' %}

{% block content %}
<div class="hero">
	{% block hero %} Company {% endblock %}
</div>

<div class="menu-horizontal menu-horizontal-static">
	<ul>
		<li><a {% if about %}class="active"{% endif %} href='{% url "general:about" %}'>About Us</a></li>
		<li><a {% if careers %}class="active"{% endif %} href='{% url "general:careers" %}'>Careers</a></li>
		<li><a {% if presskit %}class="active"{% endif %} href='{% url "general:presskit" %}'>Press Kit</a></li>
		<li><a {% if feedback %}class="active"{% endif %} href='{% url "general:feedback" %}'>Feedback</a></li>
		<div class="pull-right">
			<li><a href='mailto:team@vetcove.com'>team@vetcove.com</a></li>
			<li><a class="bordered" href='http://blog.vetcove.com'>Blog</a></li>
		</div>
	</ul>
</div>
{% endblock %}