{% extends 'general/company/base.html' %}

{% block hero %} Careers {% endblock %}

{% block content %}

{{block.super}}


<div class="section feature white">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Careers at Vetcove</h3>
				<p class="thin">We're a high-performing team revolutionizing the way veterinarians research and order supplies. We operate in an exciting, fast-paced and results-driven startup environment. We're looking for exceptionally talented and driven entrepreneurs to join our team in New York, New Jersey, or Boston.</p>
				<p class="thin">Interested in coming to work for us? Drop us an email at <strong>&#116;&#101;&#097;&#109;&#064;&#118;&#101;&#116;&#099;&#111;&#118;&#101;&#046;&#099;&#111;&#109;</strong> with the job title in the subject line, and anything written, linked, or attached that you think will impress us.</p>
			</div>
		</div>
	</div>
</div>

<div class="section feature light">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Job Openings</h3>
				<div class="job-class">
					<h5>University</h5>
					<div class="job">
						<h6>Software Engineer - Full Stack<span>New York, NY or Boston, MA</span></h6>
						<p>We're looking for uniquely talented software engineering interns with a keen interest in web development. This unique opportunity to join our ultra-talented team of MIT computer scientists is invaluable for any student seeking to partake in (or lead) the development side of a startup in the future. You'll use and learn great technologies like Django, jQuery, Less JS, Postgres, Redis, Rabbit MQ, and more from some of the most talented engineers around. Full- time and part time, paid and unpaid roles available depending on experience.</p>
					</div>
					<div class="job">
						<h6>Business Development Intern<span>New York, NY</span></h6>
						<p>We're looking for uniquely talented software engineering interns with a keen interest in web development. This unique opportunity to join our ultra-talented team of MIT computer scientists is invaluable for any student seeking to partake in (or lead) the development side of a startup in the future. You'll use and learn great technologies like Django, jQuery, Less JS, Postgres, Redis, Rabbit MQ, and more from some of the most talented engineers around. Full- time and part time, paid and unpaid roles available depending on experience.</p>
					</div>
					<div class="job">
						<h6>Client Services Representative Intern<span>New York, NY</span></h6>
						<p>We're seeking a driven and intelligent intern to join our team (part-time 2014-15 or full-time summer 2015) to aid our relationship-building and communications with product manufacturers. You'll have the opportunity to build and manage relationships with manufacturing companies large and small across pharmaceutical, equipment, and supply brands. You'll work with existing clients to maintain quality product listings and make the most of the Vetcove platform. Excellent email decorum and professional presence are essential.</p>
					</div>
					<div class="job">
						<h6>Integrated Digital Marketing Intern<span>New York, NY</span></h6>
						<p>This exciting internship will give one talented student the opportunity to work directly with Vetcove's Chief Marketing Officer, a bestselling digital marketing author and digital thought leader for executives around the world. You'll ideate, execute, and optimize multi-channel digital marketing strategies to drive adoption of our platform among veterinarians, clinics, and animal hospitals nationwide. You'll further your marketing education and apply your digital acumen to create real value for a quickly-growing startup company.</p>
					</div>
				</div>
				<div class="job-class">
					<h5>Software Engineering</h5>
					<div class="job">
						<h6>Software Engineer - Full Stack<span>New York, NY or Boston, MA</span></h6>
						<p>We're seeking one uniquely talented web-focused software engineer to join our team full-time in either New York or Boston. A demonstrated track record of developing applications using cutting-edge technologies is a must. We use great technologies like Django, jQuery, LESS.js, PostgreSQL, Redis, and RabbitMQ to build incredible and functional software with a small but highly-capable team of MIT and Cornell engineers. A collaborative, team-focused, and entrepreneurial mindset should complement your exceptional abilities to be considered a fit for this position. This position has competitive compensation, stock options, and benefits.</p>
					</div>
				</div>
				<div class="job-class">
					<h5>Business Development</h5>
					<div class="job">
						<h6>Business Development Manager<span>New York, NY</span></h6>
						<p>We're seeking one extremely-driven and entrepreneurial business development manager to aid us in driving and managing key relationships with manufacturers, distributors, compounding pharmacies, and non-profits. This ideal candidate for this position can wear many hats, as the role incorporates elements of sales, client services, and marketing to help us further the business. Experience with the veterinary industry or medical supply chain is a huge plus. This position has competitive compensation, stock options, and benefits based on experience.</p>
					</div>
					<div class="job">
						<h6>Integrated Marketing Manager<span>New York, NY</span></h6>
						<p>We're seeking an exceptionally creative and driven marketing manager to work with Vetcove's
						Chief Marketing Officer to execute the company's extremely ambitious marketing plan. You'll ideate, execute, and optimize multi-channel digital marketing strategies to drive adoption of our platform among veterinarians, clinics, and animal hospitals nationwide. You'll also aid in the preparation of marketing and business development materials to further the business. Demonstrated ability to identify and evaluate marketing opportunities across both digital and traditional channels is required. Excellent writing and content creation skills are a huge plus. This position has competitive compensation, stock options, and benefits based on experience.</p>
					</div>
				</div>
				<div class="job-class">
					<h5>Client Services</h5>
					<div class="job">
						<h6>Associate Manager, Client Services<span>New York, NY</span></h6>
						<p>We're seeking an outgoing and hardworking client services manager to manage and further our existing relationships with manufacturing companies large and small across pharmaceutical, equipment, and supply brands. You'll work with existing clients to aid their familiarization with Vetcove and to help them make the most of the platform. You will also provide support to our high-profile clients by ensuring a smooth and rich experience with our platform. Exceptional communication skills are a must, as this role requires a great deal of personal communication with both clients and internal teams. This position has competitive compensation, stock options, and benefits based on experience.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section feature white">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Don't see the opening you are looking for?</h3>
				<p class="thin">Even if you don't see a job that specifically matches your skillset, reach out and talk to us!</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}