{% extends 'general/company/base.html' %}

{% block hero %}Feedback{% endblock %}

{% block content %}

{{ block.super }}
<div class="static-page">
	<div class="section thin centered">
		<h3>We love to hear from you!</h3>
		<p> Have a question about Vetcove? Find something that doesn't work or can
			be improved? Your feedback helps us make Vetcove awesome!</p>
	</div>
	<div class="section thin">
		<form role="form" class="form validated-form">
			<div class="inlined-together">
				<div class="form-group third">
					<label for="email">Title</label>
					<select data-type="select" data-required="true" class="form-control">
						<option value=''>Select a Title. . . </option>
						<option value="fsdfa">Dr.</option>
					</select>
					<div class="error-message">Please choose a title</div>
				</div>
				<div class="form-group third">
					<label for="password">First Name</label>
					<input type="text" data-type="text" data-required="true" class="password form-control" placeholder="Password">
					<div class="error-message">Required</div>
					<div class="status">
						<span class="glyphicon glyphicon-ok icon-check form-control-feedback"></span>
						<span class="glyphicon glyphicon-exclamation-sign icon-x form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group third">
					<label for="password">Last Name</label>
					<input type="text" data-type="text" data-required="true" class="password form-control" placeholder="Password">
					<div class="error-message">Required</div>
					<div class="status">
						<span class="glyphicon glyphicon-ok icon-check form-control-feedback"></span>
						<span class="glyphicon glyphicon-exclamation-sign icon-x form-control-feedback"></span>
					</div>
				</div>
			</div>
			<div class="inlined-separate">
				<div class="form-group half">
					<label for="password">First Name</label>
					<input type="password" data-type="password" data-required="true" class="password form-control" placeholder="Password">
					<div class="error-message">Must be at least 8 characters</div>
					<div class="status">
						<span class="glyphicon glyphicon-ok icon-check form-control-feedback"></span>
						<span class="glyphicon glyphicon-exclamation-sign icon-x form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group half">
					<label for="password">Last Name</label>
					<input type="password" data-type="password" data-required="true" class="password form-control" placeholder="Password">
					<div class="error-message">Required</div>
					<div class="status">
						<span class="glyphicon glyphicon-ok icon-check form-control-feedback"></span>
						<span class="glyphicon glyphicon-exclamation-sign icon-x form-control-feedback"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<textarea data-type="text" data-required="true" class="form-control"></textarea>
				<div class="error-message">Email already in use</div>
			</div>
			<div class="form-group half">
				<label for="state">Password</label>
				<select data-type="select" data-required="true" class="form-control">
					<option value=''>Select a Name. . . </option>
					<option value="fsdfa">Cool</option>
				</select>
				<div class="error-message">Please select a name</div>
			</div>
			<div class="form-group">
				<label for="state">Confirm Password</label>
				<input data-required="true" data-type="confirmpassword" type="password" class="form-control confirmpassword">
				<div class="status">
					<span class="glyphicon glyphicon-ok icon-check form-control-feedback"></span>
					<span class="glyphicon glyphicon-exclamation-sign icon-x form-control-feedback"></span>
				</div>
				<div class="error-message">Email already in use</div>
			</div>
			
			<div class="form-group-submit">
				<div class="text-div">
					<p>By continuing, I agree to Vetcove's <a href='{% url "general:privacypolicy" %}'>Privacy Policy</a> and <a href='{% url "general:termsofservice" %}'>Terms of Service</a></p>
					<p>Already have a Vetcove account? <a href='#'>Sign In</a></p>
				</div>
				<div class="submit-div">
					<button type="submit" class="button button-rounded button-flat button-flat-standard">Continue</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}