{% extends 'general/company/base.html' %}

{% block hero %}Feedback{% endblock %}

{% block content %}

{{ block.super }}

<div class="section feature white">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>We love to hear from you!</h3>
				<p class="thin">We love any and all feedback. Something on the site not working, have a request for a new feature, or just love what we're doing? Drop us a line at <strong>&#116;&#101;&#097;&#109;&#064;&#118;&#101;&#116;&#099;&#111;&#118;&#101;&#046;&#099;&#111;&#109;</strong></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}