{% extends 'general/company/base.html' %}

{% load staticfiles %}

{% block hero %} Press Kit {% endblock %}

{% block content %}

{{block.super}}

<div class="section feature white">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Vetcove In the Press</h3>
				<p class="thin">We have provided some common images and information about Vetcove. If you are interested in speaking with us directly, you can reach us at <strong>&#116;&#101;&#097;&#109;&#064;&#118;&#101;&#116;&#099;&#111;&#118;&#101;&#046;&#099;&#111;&#109;</strong>. We are happy to discuss further what we are working on!</p>
			</div>
		</div>
	</div>
</div>

<div class="section feature light">
	<div class="row">
		<div class="col-12">
			<div class="text centered">
				<h3>Media Resources</h3>
				<div class="press-image-container">
					<div class="press-image">
						<a href='{% static "img/logo_hex_gray.png" %}' style="background-image:url('{% static "img/logo_hex_gray.png" %}')"></a>
					</div>
				</div>
				<div class="press-image-container">
					<div class="press-image">
						<a href='{% static "img/logo_full_gray.png" %}' style="background-image:url('{% static "img/logo_full_gray.png" %}')"></a>
					</div>
				</div>
				<div class="press-image-container">
					<div class="press-image">
						<a href='{% static "img/clinic_analytics.png" %}' style="background-image:url('{% static "img/clinic_analytics.png" %}')"></a>
					</div>
				</div>
				<div class="press-image-container">
					<div class="press-image">
						<a href='{% static "img/deals2.png" %}' style="background-image:url('{% static "img/deals2.png" %}')"></a>
					</div>
				</div>
				<div class="press-image-container">
					<div class="press-image">
						<a href='{% static "img/orders.png" %}' style="background-image:url('{% static "img/orders.png" %}')"></a>
					</div>
				</div>
				<div class="press-image-container">
					<div class="press-image">
						<a href='{% static "img/reviews.png" %}' style="background-image:url('{% static "img/reviews.png" %}')"></a>
					</div>
				</div>
				<div class="press-image-container">
					<div class="press-image">
						<a href='{% static "img/rewards.png" %}' style="background-image:url('{% static "img/rewards.png" %}')"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}