{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Features{% endblock %}

{% block content %}

<div class="hero-container support">
	<div class="hero centered noimage">
		<div class="row">
			<div class="text col-12 col-xs-12">
				<h1>Help Center</h1>
				<h2>Support Resources and FAQ</h2>
			</div>
		</div>
	</div>
</div>

{% comment %} <div class="help-search">
<form class="help-form" role="form">
	<input type="text" class="form-control" placeholder="Search Help and Support. . . ">
	<button type="submit" class="button button-flat-standard button-rounded">Search</button>
</form>
</div> {% endcomment %}

<div class="help-container">
	<h2 class="help-title">Veterinarian FAQ</h2>
	<h5>Frequently Asked Questions for veterinarians and clinics.</h5>
	<div class="question" data-tag-general="True" >
		<h3>Is Vetcove a distributor of veterinary products?</h3>
		<p>No, Vetcove is not a distributor of products, and never warehouses, takes delivery, or ships any veterinary product. Vetcove fields customer orders, and passes those orders through to our distributing and manufacturing partners.</p>
	</div>
	<div class="question">
		<h3>When I order on Vetcove, who ships the products?</h3>
		<p>Orders are intelligently routed to our distribution and manufacturing partners for fullfillment. When you order is placed and confirmed, it is passed through to one or more fullfillment parters, which include authorized distributors of veterinary products, as well as the manufacturers of the products you order.</p>
	</div>
	<div class="question">
		<h3>Can I return products or get product support on Vetcove?</h3>
		<p>Customer service and returns can be initiated through Vetcove. In your order history, there are buttons to either request a product return or service on a product with a single click. These requests are passed through to the seller that fulfilled your order. Responses will be back to you via Vetcove.s</p>
	</div>
	<div class="question">
		<h3>What is the return policy for items ordered on Vetcove?</h3>
		<p>Each item has a separate return policy determined by the distributor or manufacturer that shipped the product. These are generally the same return policies you are used to when placing orders through major veterinary distributors, as it is these same distributors that are shipping you the product.</p>
	</div>
	<div class="question">
		<h3>What do I need to provide to start placing orders on Vetcove?</h3>
		<p>To begin ordering you will need to sign up for Vetcove, and the process will guide you through the information you need to provide. The required information includes details about your clinic/practice, including the names and license information for the Veterinarians that will be receiving products ordered through Vetcove.</p>
	</div>
	<div class="question">
		<h3>How does the reward system work?</h3>
		<p>Clinics earn credits on Vetcove, which can then be redeemed for rewards. In order to earn credits, there are various goals available at any given time that must be achieved before the time limit. When goals are completed successful before they expire, credits are added to the clinic's credit bank. Redeeming rewards from the reward redemption page will reduce the number of credits in the bank by the cost of the reward, and the reward will be sent to the clinic.</p>
	</div>
	<div class="question">
		<h3>What kinds of actions earn my clinic credits toward rewards?</h3>
		<p>There are many different kinds of goals that earn credits on Vetcove. Some of these are community engagement activities, such as reviewing products, asking and answering questions, or receiving upvotes from the community. Others may be related to ordering specific volumes of product categories, or specific products during the time of a promotion.</p>
	</div>
	<div class="question">
		<h3>What kinds of reward are available to redeem?</h3>
		<p>At the moment Vetcove primarily offers rewards in the form of gift cards from various partners, animal-related and otherwise. There will also be options to redeem credits toward entries for contest drawings, or other exciting limited-time items. You'll also be able to redeem your credits toward a donation to a veterinary charity of your choice!</p>
	</div>
	<div class="question">
		<h3>Who gets the rewards that are earned through Vetcove?</h3>
		<p>When Vetcove credits are redeemed for rewards, we send the reward to the mailing address on file for the clininc. The reward is earned by the clinic itself, and it is up the business owners how to handle and distribute rewards. Sometimes the office managers are permitted to keep the rewards earned, but sometimes these rewards are kept by the clinic owners or distributed to clinic members in any way the owners see fit.</p>
	</div>
	<div class="question">
		<h3>How does manufacturing incentive/rebate tracking work?</h3>
		<p>Vetcove lists all incentive programs available at any given time, and organizes them based on expiration date and match to the clinic's needs. For manufacturers that are participating in this on Vetcove, you'll also have the ability to track your progress toward earning the rebate. We hope to soon be able to track all incentive programs from all manufacturers, so stay tuned!</p>
	</div>
	<div class="question">
		<h3>How does the product review system work?</h3>
		<p>As a member of Vetcove, you have the ability to write reviews on any products you have used. This includes a rating from one to five stars, as well text detailing your rationale behind the rating and other important details you'd like the community to know. These reviews will be viewable by the entire Vetcove community, including the product's manufacturer.</p>
	</div>
	<div class="question">
		<h3>How does the Q&A system work? Who answers my questions?</h3>
		<p>For any product on Vetcove, you'll be able to view all questions asked by the community, as well as the answers to those questions ranked by their relevance. If you have a different question, you may ask it on the product's page. Answers may come in from the product's manufacturer, distribution representatives, or other veterinarians. It's a great way to feel confident purchasing and using products that you're unfamiliar with!</p>
	</div>
	<div class="question">
		<h3>What is the news feature and how is the news determined?</h3>
		<p>The news page is a customized feed of news likely to be relevant to your practice. It includes some platform-wide news, but also includes backorders and significant price changes for items you purchase frequently or might purchase. It also includes news updates from manufacturers whose products you order frequently, or updates from manufacturers you chose to follow. No two needs pages will look alike, although similar clinics may have a lot in common.</p>
	</div>
	<div class="question">
		<h3>Why am I being recommended this particular product?</h3>
		<p>Vetcove utilizes proprietary algorithms to determine which items to recommend. Please note that suppliers cannot pay to have their product recommended to you—we save that for the promotions section. Recommendations are based on many factors, including customer reviews, popularity, your order history, and the aggregate ordering patterns of all clinics on Vetcove. All recommendations are organically determined, and we strive to show products that are relevant to your practice.</p>
	</div>
	<div class="question">
		<h3>Why do I see particular promotions from manufacturers?</h3>
		<p>We strive to display all discounts and current promotions from suppliers in order to ensure veterinary clinics can take advantage of every possible way to save money. Promotions that appear on Vetcove may be universal promotions run by manufacturers or distributors, or they may be Vetcove-exclusive promotions that suppliers have paid to have displayed. Regardless of origin, promotions are sorted and organized based on their likely relevance to your clinic.</p>
	</div>
	<h2 class="help-title">Supplier FAQ</h2>
	<h5>Frequently Asked Questions for veterinarians and clinics.</h5>
	<div class="question" data-selling='True'>
		<h3>Can I use Vetcove to proceed direct orders and ship directly to customers?</h3>
		<p>You certainly can! In your supplier control panel, you can add inventory you have on hand for items with Vetcove listings. Even if your product is warehoused and shipped with distributors, some orders will begin getting routed to you to ship directly to customers.</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>How does direct shipping from manufacturer to clinic work?</h3>
		<p>When an order gets routed to you, you'll be notified of the incoming order. You'll receive an invoice including a profile for the ordering veterinarian/clinic. Just ship the product(s) and upload the tracking number(s) back into Vetcove, and that's it! We'll keep track of all financials for Vetcove orders so that you can generate reports and account for Vetcove orders easily.</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>Can I use Vetcove if we sell exclusively through distributors and do not wish to sell direct?</h3>
		<p>Yes, even if you have no intention of selling directly to customers, you can still use Vetcove to manage your company page and product listings, including answering customer questions and responding to customer reviews. Easy direct shipping is only one of the many benefits Vetcove offers product manufacturers.</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>How do I update the listings for products my company manufactures that are already on Vetcove?</h3>
		<p>First join Vetcove by signing up for an account. We'll get in contact with you within 48 hours to verify your identity with your company and provide you with access to update your company's page, as well as the products your company manufactures. You can edit listings for products from your supplier control panel.</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>Can I add products to Vetcove that currently aren't on the system?</h3>
		<p>Yes, you can? Simply add a new product listing in your supplier control panel to add the product's page to Vetcove. If you have inventory to sell, you can add inventory and pricing and begin selling right away!</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>How do you determine which supplier a product is routed to?</h3>
		<p>Vetcove uses proprietary algorithms to efficiently route orders to the best supplier. This routing is based on buyer preference, seller review ratings, pricing, and the ability to ship cheaply and efficiently, as well as existing agreements with have with large distribution partners that carry your product. If there is no distribution partner on Vetcove that carries your product, then 100% of the orders will get routed to the product's manufacturer.</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>Who determines the pricing of our products on Vetcove?</h3>
		<p>Each seller, whether it be a manufacturer, distributor, or compounder, determines their own pricing for a given product. In cases where there is more than one seller of a product at different prices, our algorithms show and route products based on a number of factors, with price only being one of these many factors. We believe product routing based solely on price invites unhealthy price competition between sellers, and so price only weighs heavily into our routing algorithms when the pricing differential is substantial enough to outweigh the other factors.</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>What kind of media can I add to our product pages?</h3>
		<p>In addition to added pages of any text you'd like, you can also add high resolution photos and videos to product listings.</p>
	</div>
	<div class="question" data-selling='True'>
		<h3>Can I remove product reviews that are scathing or contain misinformation?</h3>
		<p>Our general policy is that product reviews cannot be removed unless the review contains misinformation that has very real and immediate legal implications for the manufacturer of the product. The other reason we may remove reviews is if we have very real evidence to suggest that the review was written by someone other than the accountholder due to unauthorized access to the account. Vetcove will not remove reviews simply because they are negative or not to the liking of the manufacturer, but does allow manufacturers to respond publicly to such reviews on Vetcove. Vetcove is a third-party platform with reviews written by veterinary community, and neither Vetcove nor product manufacturers are liable for what is written in reviews, even if those reviews are not truthful or do not accurately describe FDA-approved usage of the product.</p>
	</div>
	<div class="question" data-selling>
		<h3>How do I request a review be looked at by the Vetcove team for possible removal?</h3>
		<p>You may request to remove a product by emailing us at reviews@vetcove.com, and the request will be reviewed by our team. We will of course do our absolute best to ensure that reviews that present real and immediate legal threats, or are a result of unauthorized access, are removed swiftly.</p>
	</div>
	<div class="question" data-selling>
		<h3>How do I answer questions about products we manufacture?</h3>
		<p>When a prospective customer asks a question, you as the product's manufacturer will be notified in the community tab in your supplier control panel. You can respond either right from the control panel, or from the product's page.</p>
	</div>
	<div class="question" data-selling>
		<h3>How are the ordering of answers determined for a customer's question?</h3>
		<p>Many factors contribute to an answer's rank, including the number of upvotes the answer receives and the qualifications of the individual responding. The responses from authorized representatives from manufacturers will be weighted more highly than responses from other veterinarians or distributors, but various other factors contribute to the final ranking of answers to a given question.</p>
	</div>
</div>
{% comment %} <div class="individual-question">
	<p class="topbar">&#60; <a href='#'> Return to Help & Support</a></p>
	<h3>What major credit cards are accepted by Vetcove?</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	<div class="related">
		<h4>Related Questions</h4>
		<a href='#'>What is the typical billing time on a purchase?</a>
		<a href='#'>Can you pay by with terms, i.e. 30 or 60 days?</a>
		<a href='#'>Where is the money at homie?</a>
	</div>
</div> {% endcomment %}


{% endblock %}