{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}New Password{% endblock %}

{% block accountbox %}
	<h1> New Password </h1>
	<form role="form" class="form validated-form">
		<p>Please enter a new password for the account <span class="email">mkates@mit.edu</span></p>
		<div class="form-group">
			<label for="name">Password</label>
			<input data-required="true" data-type="password" type="password" class="form-control password">
			<div class="error-message">Please enter a valid email</div>
		</div>	
		<div class="form-group">
			<label for="name">Confirm Password</label>
			<input data-required="true" data-type="confirmpassword" type="password" class="form-control confirmpassword">
			<div class="error-message">Please enter a valid email</div>
		</div>						
		<div class="form-group-submit">
			<div class="text-div">
				<p><a href='{% url "general:privacypolicy" %}'>Return to Sign In</a></p>
			</div>
			<div class="submit-div">
				<button type="submit" class="button button-rounded button-flat button-flat-primary">Sign In</button>
			</div>
		</div>
	</form>
{% endblock %}