{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block accountbox %}
	<h1> Reset Password </h1>
	<form role="form" class="form validated-form">
		<p>Enter the email you registered your account with and we'll send you instructions to reset your password.</p>
		<div class="form-group">
			<label for="name">Registered Email Address</label>
			<input data-required="true" data-type="email" type="email" class="form-control">
			<div class="error-message">Please enter a valid email</div>
		</div>						
		<div class="form-group-submit">
			<div class="text-div">
				<p><a href='{% url "general:privacypolicy" %}'>Return to Sign In</a></p>
			</div>
			<div class="submit-div">
				<button type="submit" class="button button-rounded button-flat button-flat-primary">Sign In</button>
			</div>
		</div>
	</form>
{% endblock %}