//
// Variables
//
// =====================================

// Colors
@backgroundColor: #353535;
@mainColor: #b4babe;


@borderColor: #dadada;
@lightBlue: #63cade;
@trueBlue: #2996cc;
@link-color: #009cc3;
@borderRadius: 3px;
@insetShadow: 0 0 12px rgba(0,0,0,.1) inset;
//colors: http://paletton.com/#uid=33p0u0koHtef7FbkgvPsRp1vkjS

//Layout Gutter and page width 
@pageWidth: 1100px;
@sideGutter: 30px;
@totalpageWidth: calc(@pageWidth+@sideGutter*2);