
// Simple Content Page Formatting //
// Simple allows the page elements to be centered

// The simple header
.simple_header {
	position:absolute;
	z-index: 1;
	height: 50px;
	width: 100%;
	text-align: center;
	background: @colorDark;
	img {
		padding: 5px;
		max-height: 45px;
	}
}

// The simple page formatting
.simple_background {
	height: 100%;
	left: 0;
	right: 0;
	position:absolute;
}
.simple-container {
	position:absolute;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: table;
	background: #fafafa;
}
.simple-outer {
    display: table-cell;
    vertical-align: middle;
    padding-top: 50px;
}
.simple-content {
    margin-left: auto;
    margin-right: auto; 
    //text-align: center;
    max-width: 800px;
}

// Account Boxes
.account-box {
	background: #fff;
	margin: 0 auto;
	max-width: 400px;
	width: 100%;
    border:1px solid #dadada;
    border-radius: 3px;
    h1 {
    	.gradient(#eee,#eee,#fff);
    	text-align: center;
    	border-bottom:1px solid #dadada;
    	font-size: 16px;
    	letter-spacing: .5px;
    	padding: 10px 5px;
    	margin: 0 0 10px 0;
    	text-transform: uppercase;	
    }
    .form {
    	padding: 5px 20px;
    	width: 100%;
    }
}

.account-footer {
	padding-top: 20px;
	p {
		font-size: 13px;
	}
	img {
		margin-top: 20px;
		opacity: .1;
		max-width: 30px;
	}
}

// Account Password Formatting
.account-password {
	padding: 5px 20px 10px 20px;
	text-align: center;
	.reset-icon {
		font-size: 40px;
		margin-bottom: 10px;
		opacity: .3;
	}
	p .email {
		font-weight: 600;
		color: #5dbd53;
	}
}



// Signing up
.signup-box {
	max-width: 700px;
	margin: 0 auto;
	.title {
		text-align: center;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom:1px solid #dadada;
		h2 {
			font-weight: 200;
		}
	}
	.perks {
		border-bottom:1px solid #dadada;
		margin-bottom: 30px;
		padding-bottom: 30px;
		position:relative;
		.perk {
			margin: 10px 10px;
			opacity: 0;
			position:relative;
		    &.perk-one {
		    	.animation(riseandenter,.6s,0s);
		    }
		    &.perk-two {
		    	.animation(riseandenter,.6s,.6s);
		    }
		    &.perk-three {
		    	.animation(riseandenter,.6s,1.2s);
		    }
			
		}
		.perk-name {
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 5px;
			i {
				font-size: 18px;
				color: @colorGreen;
			}
		}
		.description {
			padding-left: 20px;
		}
	}
	.form-container {
		//max-width: 500px;
		margin: 0 auto;
	}

}


@keyframes riseandenter {
	0% {
		opacity: 0;
		top: 20px;
	}
	100% {
		opacity: 1;
		top: 0px;
	}
}


#uploads {
	width: 100%;
	background: #eee;
	border:1px solid #ccc;
	margin: 50px auto;
	&:after {
		display:table;
		clear:both;
		content:" ";
	}
}
.dropzone {
	position: relative;
	border-radius: 3px;
	background: #fff;
	border:1px solid #ccc;
	width: 100%;
	padding: 30px;
	text-align: center;
	.gradient(#eee,#eee,#fff);
	.dropdown-content {
		i {
			margin-top: 5px;
			font-size: 50px;
			line-height: 50px;
		}
		h3 {
			font-weight: 300;
			margin: 10px 0;
		}
	}
	.fallback {
		input {
			margin: 20px auto;
		}
	}
	.loader {
		display:none;
		position:absolute;
		background: rgba(0,0,0,.8);
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		padding-top: 60px;
	}
	.upload-error {
		display:none;
		color: #fff;
		padding: 10px;
		margin: 0 10px 10px 10px;
		background: @colorRed;
		display:inline-block;
		font-weight: 500;
		border-radius: 3px;
		&:after {
			display: table;
			clear: both;
			content:" ";
		}
		&:empty {
			display:none;
		}
	}
}

//When hovering with an image
.dropzone.dz-drag-hover {
  border:1px solid #aaa;
  .gradient(#eaeaea,#eaeaea,#f6f6f6);
}
// Hide this stupid default image
.dropzone .dz-message {
  display: none;
}


#uploads {
	padding: 10px;
}

.uploaded-image-container {
	width: 25%;
	float: left;
	padding: 10px 5px;
	text-align: center;
	.uploaded-image {
		position:relative;
		padding: 10px;
		background: white;
		border:1px solid #dadada;
		.image {
			width: 100%;
			height: 150px;
			margin-bottom: 10px;
			background-size:contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&.main {
			border:1px solid @colorGreen;
			box-shadow: 0 0 10px lighten(@colorGreen,30%) inset;
		}
	}	
	.default {
		font-size: 10px;
		margin-bottom: 10px;
	}
	.remove {
		position:absolute;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background: rgba(0,0,0,.3);
		color: #fff;
		right: 0px;
		top: 0px;
		&:hover {
			background: rgba(0,0,0,.6);
			cursor:pointer;
		}
	}
	.delete {
		display:none;
		position:absolute;
		padding: 30px 15px 15px 15px;
		color: #fff;
		height: 100%;
		width: 100%;
		top: 0px;
		z-index: 1;
		left: 0px;
		background: rgba(0,0,0,.85);
		.button {
			margin-top: 20px;
		}
	}
}
