/**************************************/
//******* Page Formatting ************//
/**************************************/

body {
	background: @backgroundColor;
	text-rendering: optimizelegibility;
}
.body-container {
	max-width: @totalpageWidth;
	position: relative;
	margin: 0 auto;
}
.content { 
	overflow: auto; // To prevent margin headers from distorting the main content div
	min-height: 500px;
	background: #f1f1f1;
}

a { color: @link-color }

//Background on highlighting
::selection {
  background: #e6e6e6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e6e6e6; /* Gecko Browsers */
}





