
/**********************************/
/****** Various Header Options ****/
/**********************************/

.hero-small {
	background-color: #e6e6e6;
	background-image: url("../img/logo_faded_bg.png");
	background-size: 500px 500px;
	background-position: center center;
	background-repeat: no-repeat;
	color: #444;
	text-align: center;
	font-size: 38px;
	padding: 10px 0;
	line-height: 150px;
	border-bottom:1px solid #dadada;
	overflow: auto;
	font-weight: 200;
}

