<div class="review-display border-bottom">
	<div class="star star40"></div>
	<h6 class="review-display-header">This product is great for lame horses</h6>
	<p class="review-display-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<span class="show-all-dots">. . .</span>
		<span class="show-all-more">More</span>
	</p>

	<p class="review-display-author">
		Written by 
		<span class="author">Kim, Office Manager</span> 
		in 
		<span class="location">Central New Jersey</span>
		on 
		<span class="date">September 12th, 2014</span>
	</p>

	<div class="review-display-actions">
		<a class="review-display-comments" href='#'>3 Comments</a> 
		|
		<div class="review-display-helpful">
			Did you find this review helpful?
			<div class="review-display-helpful-buttons">
				<button class='button button-tiny button-rounded'>Yes</button>
				<button class='button button-tiny button-rounded'>No</button>
			</div>
			<i class="review-display-helpful-loader fa fa-spin fa-spinner fa-2x"></i>
			<p class="review-display-helpful-complete">Thank you for your vote!</p>
		</div>
	</div>

</div>