{% extends 'simple_base.html' %}

{% load staticfiles %}

{% block title %}Account{% endblock %}

{% block simplecontent %}
	<div class="account-box">
		{% block accountbox %}
		<h1> Sign In </h1>
		<form role="form" class="form validated-form">
			<div class="form-group">
				<label for="name">Email</label>
				<input data-required="true" data-type="name" type="email" class="form-control">
				<div class="error-message">Invalid Email</div>
			</div>
			<div class="form-group">
				<label for="state">Password</label>
				<input data-required="true" data-type="password" type="password" class="form-control password">
				<div class="error-message">Please select a name</div>
			</div>							
			<div class="form-group-submit">
				<div class="text-div">
					<p><a href='{% url "general:privacypolicy" %}'>Forgot Password?</a></p>
				</div>
				<div class="submit-div">
					<button type="submit" class="button button-rounded button-flat button-flat-primary">Sign In</button>
				</div>
			</div>
		</form>
		{% endblock %}
	</div>
	<div class="account-footer centered">
		<p>Don't have a Vetcove account? <a href='#'>Sign Up Here</a></p>
		<a href='/'><img src="{% static 'img/logo_hex_gray_small.png' %}" alt="Vetcove"></a>
	</div>
{% endblock %}