{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}Sign In{% endblock %}


{% block accountbox %}
	<h1> Sign In </h1>

	<form role="form" class="form validated-form" method="POST" action="{% url 'accounts:signin' %}">
		{% csrf_token %}
		{{form.errors}}
		<div class="form-group">
			{% include "generic/form.html" with field=form.username type="email" required="true" only %}
		</div>

		<div class="form-group">
			{% include "generic/form.html" with field=form.password type="password" required="true" only %}
		</div>

		<div class="form-group-submit">
			<div class="text-div">
				<p><a href='{% url "general:privacypolicy" %}'>Forgot Password?</a></p>
			</div>
			<div class="submit-div">
				<button type="submit" class="button button-rounded button-flat button-flat-primary">Sign In</button>
			</div>
		</div>
	</form>

{% endblock %}