{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}Sign In{% endblock %}


{% block accountbox %}

	<h1> Sign In </h1>
	<form role="form" class="form validated-form form-invalid-shake invalid" method="POST" action="{% url 'accounts:signin' %}">
		{% if form.non_field_errors %}
		<div class="non-field-errors">
			{% for error in form.non_field_errors %}
				{{ error }}
			{% endfor %}
		</div>
		{% endif %}

		{% csrf_token %}

		{% for field in form %}
			{% include 'generic/form.html' with field=field %}
		{% endfor %}

		<div class="form-group-submit">
            <div class="text-div">
                
            </div>
            <div class="submit-div">
                <button type="submit" class="button button-rounded button-primary">Sign In</button>
            </div>
        </div>

	</form>

{% endblock %}
