//
// Utilities
// 
// =====================================

.inline-block-top {
	display:inline-block;
	vertical-align: top; //Easier to control vertically aligned top elements
}
.clear {
	clear:both;
}

.background-cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.background-contain {
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center;
}
.horizontal-nav {
	list-style-type:none;
	li {
		display:inline-block;
	}
}
.centered {
	text-align: center;
}
.centered-div {
	margin: 0 auto;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}

//Padding and margins
.generateMarginsAndPadding(@n, @i: 5) when (@i =< @n) {
  .padding-@{i} {
    padding: @i*1px;
  }
  .margin-@{i} {
    margin: @i*1px;
  }
  .generateMarginsAndPadding(@n, (@i + 5));
}

.generateMarginsAndPadding(40);


//Attach to divs with float elements
.floatfix {
	&:after {
		display:table;
		content:" ";
		clear:both;
	}
}
// Do not display empty elements
.emptyfix {
	&:empty {
		display:none;
	}
}

// Make non links look like a look
.link {
	&:hover {
		cursor:pointer;
		text-decoration:underline;
	}
}