<div class="question-display border-bottom">

	{# Upvoter #}
	<div class="question-upvoter">
		<span class="upvote active glyphicon glyphicon-chevron-up"></span>
		<div class="question-upvoter-count">
			<p class="count">24</p>
			<p class="votes">votes</p>
		</div>
		<span class="downvote glyphicon glyphicon-chevron-down"></span>
	</div>

	{# Question #}
	<h6 class="question-display-question">Can you use this product on something other than horses?</h6>

	{# Author #}
	<p class="question-display-author">
		Asked by Kim, Office Manager in Central New Jersey on September 12th, 2014
	</p>

	{# Answer Button #}
	<div class="question-display-answer-button">
		<a class='button button-rounded button-tiny' href='#'>Answer this Question</a>
	</div>

	{# Answers Container #}
	<div class="question-display-answer-container">
		<p class="question-display-answer-author">
			Answer by
			<span class="author">Joe Bucks, Merial Customer Satisfaction Representative</span> 
			|
			<span class="date">September 12th, 2014</span>
		</p> 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<span class="show-all-dots">. . .</span>
		<span class="show-all-more">More</span>
		<div class="question-display-answer-actions">
			<a>3 Comments</a> 
			| 
			<p> 2 Votes</p>
			|
			<p class="question-display-answer-helpful">Did you find this answer helpful?</p>
			<a class="button button-tiny button-rounded question-display-answer-vote">Yes</a>
			<a class="button button-tiny button-rounded question-display-answer-vote">No</a>
			<i class="question-display-vote-loader fa fa-spin fa-spinner fa-2x"></i>
			<p class="question-display-vote-complete">Thank you for your vote!</p>
			
		</div>	

		<div class="comments-container">
			<div class="comments">
				<div class="comment">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
					<p class="author">Joe Bucks, Merial Customer Satisfaction Representative | Sept 14 | <span class="delete">Delete Comment</span></p> 
				</div>
				<div class="comment">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
					<p class="author">Joe Bucks, Merial Customer Satisfaction Representative | Sept 14</p> 
				</div>
			</div>
			<div class="newcomment">
				<textarea class="form-control" placeholder='Add a comment. . . '></textarea>
				<div class="submitter">
					<p>You are answering as:</p>
					<p></strong>Jenny from the Block</strong></p>
					(<a>Change</a>)
				</div>
				<div class="submit">
					<button class="button button-tiny button-primary button-rounded">Submit Comment</button>
				</div>
				<div class="submitter-form">
					<input class="form-control" value="Jenny from the Block">
					<select class="form-control">
						<option>Office Manager</option>
						<option>Veterinarian</option>
					</select>
					<select class="form-control">
						<option>Colts Neck Equine</option>
						<option>Equine Clinic in NJ</option>
						<option>Clinic in NJ</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	{# Answers Container #}
	<div class="question-display-answer-container">
		<p class="question-display-answer-author">
			Answer by
			<span class="author">Joe Bucks, Merial Customer Satisfaction Representative</span> 
			|
			<span class="date">September 12th, 2014</span>
		</p> 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<span class="show-all-dots">. . .</span>
		<span class="show-all-more">More</span>
		<div class="question-display-answer-actions">
			<a>3 Comments</a> 
			| 
			<p> 2 Votes</p>
			|
			<p class="question-display-answer-helpful">Did you find this answer helpful?</p>
			<a class="button button-tiny button-rounded question-display-answer-vote">Yes</a>
			<a class="button button-tiny button-rounded question-display-answer-vote">No</a>
			<i class="question-display-vote-loader fa fa-spin fa-spinner fa-2x"></i>
			<p class="question-display-vote-complete">Thank you for your vote!</p>
			
		</div>	

	</div>


	<a href='#'>See All 5 Answers</a>

</div>