<footer class="footer">
	<div class="footer-links">
		<div class="column">
			<h3>Explore Vetcove</h3>
			<ul>
				<li><a href='#'>Take A Virtual Tour</a></li>
				<li><a href='{% url "general:features" %}'>Features</a></li>
				<li><a href='{% url "general:suppliers" %}'>Benefits for Suppliers</a></li>
				<li><a href='{% url "general:lead" %}'>Become a Supplier</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Company</h3>
			<ul>
				<li><a href='{% url "general:about" %}'>About Us</a></li>
				<li><a href='{% url "general:careers" %}'>Jobs and Careers</a></li>
				<li><a href='{% url "general:presskit" %}'>Press and Media Kit</a></li>
				<li><a href='{% url "general:feedback" %}'>Feedback</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Your Account</h3>
			<ul>
				<li><a href='#'>View Order History</a></li>
				<li><a href='#'>Manage Questions</a></li>
				<li><a href='#'>Manage Reviews</a></li>
				<li><a href='#'>Account Settings</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Let Us Help You</h3>
			<ul>
				<li><a href='#'>Redeem Credits</a></li>
				<li><a href='#'>Issue a Return</a></li>
				<li><a href='#'>FAQ</a></li>
				<li><a href='#'>Support Center</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Legal</h3>
			<ul>
				<li><a href='{% url "general:generalpolicy" %}'>General Policies</a></li>
				<li><a href='{% url "general:privacypolicy" %}'>Privacy Policy</a></li>
				<li><a href='{% url "general:termsofservice" %}'>Terms of Service</a></li>
				<li><a href='{% url "general:selleragreement" %}'>Seller Agreement</a></li>
			</ul>
		</div>
	</div>
	<div class="additional">
		<p class="address"> 10 Pacer Court &middot; Colts Neck, NJ 07722 &middot; 732.598.6434 &middot; &#104;&#101;&#108;&#108;&#111;&#064;&#118;&#101;&#116;&#099;&#111;&#118;&#101;&#046;&#099;&#111;&#109;</p>
		<p>VetCove is the leading platform for Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
		<p> Copyright &copy; 2014. All rights reserved.</p>
		<a href="/"><img src="{{STATIC_URL}}img/logo_hex_gray_small.png" alt="VetCove"></a>
	</div>
</footer>