<footer class="footer">
	<div class="footer-links">
		<div class="column">
			<h3>Browse Vetcove</h3>
			<ul>
				<li><a href='/categories'>Take A Virtual Tour</a></li>
				<li><a href='/dashboard'>Deals and Promotions</a></li>
				<li><a href='/promotions'>Trending Products</a></li>
				<li><a href='/trending'>Recommended Products</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Company</h3>
			<ul>
				<li><a href='/sitemap'>About the Company</a></li>
				<li><a href='/manufacturer'>Jobs and Careers</a></li>
				<li><a href='/tos'>Press and Media Kit</a></li>
				<li><a href='/tos'>Feedback</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Your Account</h3>
			<ul>
				<li><a href='#'>View Order History</a></li>
				<li><a href='#'>Manage Questions</a></li>
				<li><a href='#'>Manage Reviews</a></li>
				<li><a href='#'>Account Settings</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Let Us Help You</h3>
			<ul>
				<li><a href='#'>Shipping & Policies</a></li>
				<li><a href='#'>Returns & Replacements</a></li>
				<li><a href='#'>Privacy & TOS</a></li>
				<li><a href='#'>Support Center</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Let Us Help You</h3>
			<ul>
				<li><a href='#'>Shipping & Policies</a></li>
				<li><a href='#'>Returns & Replacements</a></li>
				<li><a href='#'>Help</a></li>
			</ul>
		</div>
	</div>
	<div class="additional">
		<p class="address"> 10 Pacer Court &middot; Colts Neck, NJ 07722 &middot; 732.598.6434 &middot; &#104;&#101;&#108;&#108;&#111;&#064;&#118;&#101;&#116;&#099;&#111;&#118;&#101;&#046;&#099;&#111;&#109;</p>
		<p>VetCove is the leading platform for Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
		<p> Copyright &copy; 2014. All rights reserved.</p>
		<a href="/"><img src="{{STATIC_URL}}img/logo_hex_gray_small.png" alt="VetCove"></a>
	</div>
</footer>