<header class="header">
	<!-- Main Header Bar -->
	<div class="header-first">
		<div class="header-left">
			<!-- Logo -->
			<a class="logo" href='/'>
				<img id="main-logo" src="{{STATIC_URL}}img/logo_hex_gray.png" alt="VetCove"/>
			</a>
			<!--Navigation Items-->
			<div class="menu">
				<ul>
					<li><a class="item standard-link" href='#'>Dashboard</a></li><!--
					--><li><a class="item standard-link" href='#'>Deals</a></li><!--
					--><li><a class="item standard-link" href='#'>Shop</a></li><!--
					--><li><a class="item standard-link" href='#'>News</a></li><!--
					--><li><a class="item standard-link" href='#'>Help</a></li><!--
					--><li><a id="menu-promotion" class="item special-link" href='#'>*Spring Vaccines*</a></li>
				</ul>
			</div>
		</div>
		<!-- Right Side Items -->
		<div class="header-right">
			<div class="menu">
				<ul>
					<li>
						<div class="dropdown-container">
							<a class="item notification-link dropdown-trigger" href='#' data-dropdown="notification-dropdown"><span>2</span></a>
							<div id="notification-dropdown" class="dropdown-box dropdown-right">
								cool
							</div>
						</div>
					</li>
					<li>
						<div class="dropdown-container">
							<a class="item cart-link dropdown-trigger" href='#' data-dropdown="cart-dropdown"><span>7</span></a>
							<div id="cart-dropdown" class="dropdown-box cart-dropdown dropdown-right">
								<a href='/cart' class="cart-item">
									<div class="cart-item-image cart-item-div">
										<img src='{{STATIC_URL}}img/logo_hex_gray.png'>
									</div>
									<div class="cart-item-info cart-item-div">
										<p class="cart-item-name">Rimadyl Chewable Tablets</p>
										<p class="cart-item-details">Quantity: 2 | $13.92</p>
									</div>
								</a>
								<a href='/cart' class="cart-item">
									<div class="cart-item-image cart-item-div">
										<img src='{{STATIC_URL}}img/placeholder_pics/search/6.jpg'>
									</div>
									<div class="cart-item-info cart-item-div">
										<p class="cart-item-name">Equizone Phenylbutazone Powder</p>
										<p class="cart-item-details">Quantity: 4 | $13.92</p>
									</div>
								</a>
								<div class="cart-button">
									<a href="/cart" class="button button-rounded">View Cart ></a>
								</div>
							</div>
							
						</div>
					</li>
					<li><a class="item standard-link" href='#'>Log In</a></li>
					<li><a class="item signup-link" href='#'>Sign Up</a></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<!-- Second Header Bar (Search Bar) -->
	<div class="header-second">
		<div class="element fixed dropdown-container">
			<a class="element-link dropdown-trigger categories" data-dropdown="categories-dropdown">
				<p>Browse by</p>
				<p>Categories <b class="caret"></b></p>
			</a>
			<div id="categories-dropdown" class="category-box dropdown-box">
				<div class="category-menu">
					<ul id="category-menu-ul">
						<li>
							<a data-name="{{category.name}}" class="category-menu-item" href='/category/{{category.name}}'>		Antibiotics
								 <span> &rsaquo; </span>
							</a>
						</li>
						<li>
							<a data-name="{{category.name}}" class="category-menu-item" href='/category/{{category.name}}'>		Antibiotics
								 <span> &rsaquo; </span>
							</a>
						</li>
						<li>
							<a data-name="{{category.name}}" class="category-menu-item" href='/category/{{category.name}}'>		Antibiotics
								 <span> &rsaquo; </span>
							</a>
						</li>
						<li>
							<a data-name="{{category.name}}" class="category-menu-item" href='/category/{{category.name}}'>		Antibiotics
								 <span> &rsaquo; </span>
							</a>
						</li>
						<li>
							<a href='/categories' class="full-directory">See Full Directory</a>
						</li>
					</ul>
				</div>
				<div class="category-content">
					{% for key,category in maincategories.items %}
						<div id="menu-{{category.name}}" class="category-info">
							<h1>{{category.displayname}}</h1>
								{% for subcategory in category.subcat %}
								<div class="category-info-box">
									<a href='/category/{{subcategory.0}}'>{{subcategory.1}}</a>
								</div>
								{% endfor %}
							
						</div>
					{% endfor %}
					<div id="menu-diagnosticexams" class="category-info">
						<h1>Diagnostic Exams</h1>
					</div>
					<div id="menu-diagnostics" class="category-info">
						<h1>Diagnostics</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="element variable">
			<form class="search" action='/form/search' method="POST">
				<table id="search-table" class="search-table">
					<tr>
						<td>
							<input class="form-control search-bar" id="searchinput" autocomplete="off" name="search" placeholder="Search products, inventory, purchases, ingredients, etc. . . ."/>
							<span id="search-exit">&#10006;</span>
						</td>
						<td class="search-button-td">
							<button value="submit" class="button button-rounded">Go</button>
						</td>
					</tr>
				</table>
			</form>
			<div id="autosuggest" >
				<div class="section categoriesheader">
					Categories
				</div>
				<div id="categoriessection" class="section-content">
				</div>
				<div class="section productsheader">
					Products
				</div>
				<div id="productssection" class="section-content">
				</div>
				<div class="section manufacturerheader">
					Manufacturers
				</div>
				<div id="manufacturerssection" class="section-content">
				</div>
			</div>
		</div>
		<div class="element fixed dropdown-container">
			<a class="element-link list double-row dropdown-trigger" data-dropdown='lists-dropdown'>
				<p>Your</p>
				<p>Lists <b class="caret"></b></p>
			</a>
			<div id="lists-dropdown" class="dropdown-box dropdown-left">
				<a class="" href="/rewards">Recently Purchased</a>
				<a class="" href="/rewards">Food List</a>
				<a class="" href="/rewards">Weekly Supplies</a>
				<a class="" href="/rewards/store">Vaccines List</a>
				<p class="highlight"><strong>Mange Lists</strong></p>
			</div>
		</div>
		<div class="element fixed dropdown-container">
			<a class="element-link double-row dropdown-trigger" data-dropdown='credit-dropdown'>
				<p>Earn</p>
				<p>Rewards <b class="caret"></b></p>
			</a>
			<div id="credit-dropdown" class="dropdown-box goal-dropdown dropdown-left">
				<a><strong>Credit Balance: 320 credits</strong></a>
				<a class="" href="/rewards">Monthly VetCove Rewards</a>
				<a class="" href="/rewards">Manufacturer Rebates</a>
				<a class="" href="/rewards/store">Redeem Your Credits</a>
			</div>
		</div>
		<div class="element fixed account-element dropdown-container">
			<a class="element-link double-row account dropdown-trigger" data-dropdown="account-dropdown">
				<p class="companyname">{% if basicuser %}{% if clinic %}Colts Neck Equine{% else %}Stokes Pharmacy{% endif %}{% else %}Hello. Log In{% endif %}</p>
				<p>Your Account <b class="caret"></b></p>
			</a>
			<div id="account-dropdown" class="dropdown-box account-dropdown dropdown-left">
			{% if not basicuser %}
				<div class="portal-enter">
					<div>
						<a href='/signin' class="sigin button button-rounded button-primary">Log In</a>
					</div>
					<span class="newcustomer"><p>New Customer?</p> <a href='/signup'>Sign Up Here</a></span>
					<div class="divider"></div>
				</div>
			{% endif %}
				{% if not supplier %}
				<a class="" href="/account/profile">Your Account</a>
				<a class="" href="#">Your Orders</a>
				<a class="" href="#">Your Returns</a>
				<a class="" href="#">Purchase Analytics</a>
				<div class="divider"></div>
				<a class="" href="/account/questions">Your Questions</a>
				<a class="" href="/account/reviews">Your Reviews</a>
				<div class="divider"></div>
				<a class="" href="/account/sell">Your Listed Items</a>
				{% else %}
				<a class="" href="/account/profile">Your Account</a>
				<a class="" href="#">Settings</a>
				<a class="" href="#">Help</a>
				{% endif %}
				{% if basicuser %}
				<div class="divider"></div>
				<a class="" href="/logout">Logout</a>
				{% endif %}
			</div>
		</div>
	</div><!-- End of Second Header -->
</header>


{# <div class="hero"></div> #}
<div class="page-title">
	Order History
</div>












