
{% extends 'shop/checkout/base.html' %}

{% load staticfiles %}

{% block checkout_content %}

<div class="checkout-shipping">
	<div class="checkout-section-header">
		Shipping Options
	</div>
	<div class="checkout-item">
		<div class="image">
			<img src="{% static 'img/products/flunixin.jpg' %}">
		</div>
		<div class="checkout-item-content">
			<p class="checkout-item-name">Equizone Phenylbutazone Powder, 50mg</p>
			<p class="checkout-item-price">
				<span class="unitprice">$24.39</span>
				<span class="quantity">2</span>
				<span class="finalprice">$83.42</span>
			</p>
			<div class="shipping">
				Shipping Address:
				<div class="shipping-address">
					<div class="shipping-selected">
						Colts Neck Equine Clinic <i class="fa fa-angle-down"></i>
					</div>
					<div class="shipping-options">
						<div class="shipping-address-block active">
							<p>Colts Neck Equine Clinic</p>
							<p>12 Park Place</p>
							<p>Route 33-34 Wall Township, NJ</p>
						</div>
						<div class="shipping-address-block">
							<p>George Green</p>
							<p>5 Park Place</p>
							<p>Colts Neck, NJ 07123</p>
						</div>
						<div class="shipping-address-block">
							<p>Colts Neck Equine Clinic</p>
							<p>12 Park Place</p>
							<p>Route 33-34 Wall Township, NJ</p>
						</div>
						<div class="shipping-address-block">
							<p>George Green</p>
							<p>5 Park Place</p>
							<p>Colts Neck, NJ 07123</p>
						</div>

					</div>
				</div>
			</div>
			<div class="shipping">
				Delivery Options:
				<div class="shipping-address">
					<div class="shipping-selected">
						FREE + 10 Vetcove credits: No-Rush Shipping (5-9 Business Days)<i class="fa fa-angle-down"></i>
					</div>
					<div class="shipping-options">
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Standard Shipping (3-7 Business Days)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">FREE + 5 Vetcove credits </span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Two-Day Shipping (2 Business Days)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">FREE</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Next Day Shipping (1 Business Day)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">$7.95</span> 
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="checkout-item">
		<div class="image">
			<img src="{% static 'img/products/flunixin.jpg' %}">
		</div>
		<div class="checkout-item-content">
			<p class="checkout-item-name">Equizone Phenylbutazone Powder, 50mg</p>
			<p class="checkout-item-price">
				<span class="unitprice">$24.39</span>
				<span class="quantity">2</span>
				<span class="finalprice">$83.42</span>
			</p>
			<div class="shipping">
				Shipping Address:
				<div class="shipping-address">
					<div class="shipping-selected">
						Colts Neck Equine Clinic <i class="fa fa-angle-down"></i>
					</div>
					<div class="shipping-options">
						<div class="shipping-address-block active">
							<p>Colts Neck Equine Clinic</p>
							<p>12 Park Place</p>
							<p>Route 33-34 Wall Township, NJ</p>
						</div>
						<div class="shipping-address-block">
							<p>George Green</p>
							<p>5 Park Place</p>
							<p>Colts Neck, NJ 07123</p>
						</div>
						<div class="shipping-address-block">
							<p>Colts Neck Equine Clinic</p>
							<p>12 Park Place</p>
							<p>Route 33-34 Wall Township, NJ</p>
						</div>
						<div class="shipping-address-block">
							<p>George Green</p>
							<p>5 Park Place</p>
							<p>Colts Neck, NJ 07123</p>
						</div>

					</div>
				</div>
			</div>
			<div class="shipping">
				Delivery Options:
				<div class="shipping-address">
					<div class="shipping-selected">
						FREE: Two Day Shipping (5-9 Business Days)<i class="fa fa-angle-down"></i>
					</div>
					<div class="shipping-options">
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Standard Shipping (3-7 Business Days)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">FREE + 5 Vetcove credits </span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Two-Day Shipping (2 Business Days)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">FREE</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Next Day Shipping (1 Business Day)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">$7.95</span> 
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="checkout-item">
		<div class="image">
			<img src="{% static 'img/products/flunixin.jpg' %}">
		</div>
		<div class="checkout-item-content">
			<p class="checkout-item-name">Equizone Phenylbutazone Powder, 50mg</p>
			<p class="checkout-item-price">
				<span class="unitprice">$24.39</span>
				<span class="quantity">2</span>
				<span class="finalprice">$83.42</span>
			</p>
			<div class="shipping">
				Shipping Address:
				<div class="shipping-address">
					<div class="shipping-selected">
						Colts Neck Equine Clinic <i class="fa fa-angle-down"></i>
					</div>
					<div class="shipping-options">
						<div class="shipping-address-block active">
							<p>Colts Neck Equine Clinic</p>
							<p>12 Park Place</p>
							<p>Route 33-34 Wall Township, NJ</p>
						</div>
						<div class="shipping-address-block">
							<p>George Green</p>
							<p>5 Park Place</p>
							<p>Colts Neck, NJ 07123</p>
						</div>
						<div class="shipping-address-block">
							<p>Colts Neck Equine Clinic</p>
							<p>12 Park Place</p>
							<p>Route 33-34 Wall Township, NJ</p>
						</div>
						<div class="shipping-address-block">
							<p>George Green</p>
							<p>5 Park Place</p>
							<p>Colts Neck, NJ 07123</p>
						</div>

					</div>
				</div>
			</div>
			<div class="shipping">
				Delivery Options:
				<div class="shipping-address">
					<div class="shipping-selected">
						FREE + 10 Vetcove credits: No-Rush Shipping (5-9 Business Days)<i class="fa fa-angle-down"></i>
					</div>
					<div class="shipping-options">
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Standard Shipping (3-7 Business Days)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">FREE + 5 Vetcove credits </span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Two-Day Shipping (2 Business Days)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">FREE</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="shipping"> 
								Next Day Shipping (1 Business Day)
								<span class='arrival'> --get it Thursday, Oct 15</span>
								<span class="price">$7.95</span> 
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}