<!DOCTYPE html>
<!-- Site Designed and Built by Mitchell Kates, www.mitchellkates.com -->

 <!-- Load In Template Tags -->
{% load core_tags %}

<html lang="en">

<head>

<!-- Page Header Requirements -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Responsive design -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- For Internet Explorer -->

<!-- Meta Information -->
<title>{% block title %}Vetcove: Veterinary Supply Starts Here{% endblock%}</title>
<meta name="keywords" content="Veterinary, Animal, Supplies, Pharmaceuticals, Equipment, Diagnostics, Biologics, Insect, Parasite, Cat, Dog, Horse, Cow, Equine, Small Animal, Large Animal, Health, Food, Hospital, Clinic">
<meta name="description" content="Vetcove is the single source for veterinarians to research and buy supplies, pharmaceuticals, equipment, diagnostics, biologics, food, and software for dogs, cats, equine & more!">

<!-- Open Graph Information -->
<meta property="og:title" content="Vetcove" />
<meta property="og:description" content="Vetcove is the single source for veterinarians to research and buy supplies, pharmaceuticals, equipment, diagnostics, biologics, food, and software for dogs, cats, equine & more!" />
<meta property="og:image" content="{{STATIC_URL}}img/logo/paw_logo.png" /> <!-- Image used when sharing on social networks -->

<!-- Favicon -->
<link rel="icon" href="{{STATIC_URL}}img/logo/favicon.png" type="image/x-icon">

<!--CSS-->
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
<link href="{{STATIC_URL}}plugins/buttons.css" rel="stylesheet" type="text/css" />
{# <link href="{{STATIC_URL}}general/form.css" rel="stylesheet" type="text/css" /> #}

<!-- Less Files -->
{% if debug %}
	<link href="{{STATIC_URL}}less/main.less" rel="stylesheet/less" type="text/css" />
	<script src="{{STATIC_URL}}js/less.js"></script>
{% else %}
	<link href="{{STATIC_URL}}compiled/main.min.css" rel="stylesheet" type="text/css" />
{% endif %}

</head>


<body>

{% block body %}
<div class="body-container">

	<!-- Full Screen Overlay -->
	<div class="overlay">
		<div class="overlay-outer">
			<div class="overlay-inner">
				<div class="loader"></div>
				<p class="top-message">Processing Information. . . </p>
				<p class="bottom-message">Please do not refresh the page or hit the back button</p>
			</div>
		</div>
	</div>


	<!--End Full Screen Overlay -->

	<!-- Messages -->
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
	        {{ message }}
	    </li>
	    {% endfor %}
	</ul>
	{% endif %}
	<!-- End of Messages -->

	<!-- Header -->
	{% include 'layout/header.html' %}
	<!-- End of Header -->

	<!-- Content -->
	<div class="content">
		{% block content %}
		 <div class="hero">
			Order History
		</div>
		<div class="side-layout">
			<div class="side-layout-col side-layout-sidebar sidebar-submenus">
				<ul>
					<li>
						<a href='#'>
							<span>Order History</span>
							<div class="arrow">></div>
						</a>
					</li>
					<li>
						<a href='#'>
							<span>Reports</span>
							<div class="arrow">></div>
						</a>
					</li>
					<li>
						<a href='#' class="active">
							<span>My Questions</span>
							<div class="arrow">></div>
						</a>
					</li>
					<li>
						<a href='#' class="sub-item">
							<span></span>Open Questions
						</a>
					</li>
					<li>
						<a href='#' class="sub-item">
							<span></span>Questions I've Asked
						</a>
					</li>
					<li>
						<a href='#' class="sub-item active">
							<span></span>Questions I've Answered
						</a>
					</li>
					<li>
						<a href='#' class="sub-item">
							<span></span>Comments on Answers
						</a>
					</li>
					<li>
						<a href='#'>
							<span>My Reviews</span>
							<div class="arrow">></div>
						</a>
					</li>
					<li>
						<a href='#'>
							<span>My Lists</span>
							<div class="arrow">></div>
						</a>
					</li>
					<li>
						<a href='#'>
							<span>Referrals</span>
							<div class="arrow">></div>
						</a>
					</li>
					<li>
						<a href='#'>
							<span>Account Settings</span>
							<div class="arrow">></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="side-layout-col side-layout-mainbar">
				{# <h2>My Questions</h2> #}
				<h5>Questions are the center of peer knowledge on Vetcove, where you can directly interact with other veterinarians and directly with manufacturers. We encourage you to check the questions section of each product as your first resource.</h5>
				<ul class="horizontal-menu">
					<li><a href='#'>Open Questions</a></li>
					<li><a class="active" href='#'>Asked Questions</a></li>
					<li><a href='#'>Answered Questions</a></li>
					<li><a href='#'>Comments on Answers</a></li>
				</ul>
			</div>
		</div>

		{% endblock %}
	</div>
	<!-- End of Content -->

	<!-- Footer -->
	{% include 'layout/footer.html' %}
	<!-- End of Footer -->

	<!-- Back to Top-->
	{% block backtotop %}
	<a href="#" class="back-to-top">Back to Top</a>
	{% endblock %}

</div>
{% endblock %}<!-- End of body -->


<!--Javascript-->
<script type="text/javascript">  
var noImageURL = '{{STATIC_URL}}img/noimage/noimage.jpg';
</script>

{% if DEBUG %}
	<script src="{{STATIC_URL}}js/jquery-2.1.1.min.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/jquery-ui.min.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js" type="text/javascript" ></script>
	{# <script type="{{STATIC_URL}}js/retina.min.js"></script>  #}
	<script src="{{STATIC_URL}}js/jquery.menu-aim.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/hoverIntent.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/autosuggest.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/sonic.js" type="text/javascript" ></script>
	<!-- Includes all the main JS elements -->
	<script src="{{STATIC_URL}}js/main.js" type="text/javascript" ></script>
{% else %}
	<!-- Reference a single JS file -->
	<script src="{{STATIC_URL}}compiled/main.min.js" type="text/javascript" ></script>
{% endif %}


<script>
//Footer Text Highlighting
$(document).ready(function() {
	$(".footer-links a").hover(function() {
		$(".footer-links a").stop();
		$('.footer-links a').addClass("faded");
		$(this).removeClass('faded');
	},function() {
		$('.footer-links a').removeClass("faded");
	});
});


$(document).ready(function(){
	createLoader($(".loader"),'#5ecadf');
	//setTimeout(function(){$(".overlay").fadeIn(100).css('display','table')},500);
});


//Creates a loader at the specified location

function createLoader(div,color) {
	//Create Hexagonal Loader Parameters
	var hexagonal_loader = {
		width: 100,
		height: 100,
		stepsPerFrame: 10,
		fillColor: color,
		trailLength: .7,
		pointDistance: .01,
		fps: 30,
		path: [
			['line',50,15,70,30],
			['line', 70,30,70,50],
			['line', 70,50,50,65],
			['line', 50,65,30,50],
			['line', 30,50,30,30],
			['line', 30,30,50,15]
		]
	};

	// Adds sonic loader to the div and plays it.
	loader = div;
	loader_div = $("<div>")
	sonic = new Sonic(hexagonal_loader);
	$(loader_div).append(sonic.canvas);
	$(loader).append(loader_div);
	sonic.play();
}

//************************************************
//**** Text Colorizer gives an apple text effect *
//************************************************
// The div must only contain text

$.fn.textColorizer = function(original,highlight) {
	// Split up the text
	handle = $(this);
	text = $(handle).text();
	handle.empty();
	for ( var i = 0; i < text.length; i++ ) {
	  handle.append("<span class='text_colorizer' data-timeout='"+i+"'>"+text.charAt(i)+"</span>");
	}
	// Start colorizing function
	$.each($(handle).children(".text_colorizer"),function(index,value) {
		id = parseInt($(value).attr('data-timeout'));
		timeout = 2000+(80*id);
		setTimeout(function() {colorize(value)},timeout);
	});

	// Function loops and colorizes the text
	function colorize(letter) {
		$(letter).animate({color: highlight}, 120, 
			function() {
	        	$(letter).animate({color: original},120,
	        		function() {
	        			setTimeout(function() {colorize(letter)},5000);
	        		}
	        	);
	        }
	    );
	}
}
$(document).ready(function(){
	$("#menu-promotion").textColorizer('#f088ff','#f6b7ff');
});


</script>
<!-- Google Analytics Code -->
 <script>
	  //  //Google Analytics Code
	  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  // ga('create', 'UA-45863765-1', 'vetcove.com');
	  // ga('send', 'pageview');
 </script>
 <!-- End of Google Analytics -->
   
</body>

</html>