<!DOCTYPE html>
<!-- Site Designed and Built by Mitchell Kates, www.mitchellkates.com -->

{# Load In The Tags #}
{% load core_tags %}

{# Load In The Staticfiles #}
{% load staticfiles %}

<html lang="en">

<head>

{# Page Header Requirements #}
<meta http-equiv="content-type" content="text/html;charset=UTF-8">

{# <meta name="viewport" content="width=device-width, initial-scale=1"> #} {# Responsive design enabled #}
<meta name="viewport" content="width=400, initial-scale=1"> {# Responsive design enabled, with 400 pixel minimum #}
<meta http-equiv="X-UA-Compatible" content="IE=edge"> {# For Internet Explorer #}

{# Meta Information #}
<title>{% block title %}Vetcove: Veterinary Supply Starts Here{% endblock%}</title>
<meta name="keywords" content="Veterinary, Animal, Supplies, Pharmaceuticals, Equipment, Diagnostics, Biologics, Insect, Parasite, Cat, Dog, Horse, Cow, Equine, Small Animal, Large Animal, Health, Food, Hospital, Clinic">
<meta name="description" content="Vetcove is the single source for veterinarians to research and buy supplies, pharmaceuticals, equipment, diagnostics, biologics, food, and software for dogs, cats, equine &#38; more!">

{# Open Graph Information #}
<meta property="og:title" content="Vetcove" />
<meta property="og:description" content="Vetcove is the single source for veterinarians to research and buy supplies, pharmaceuticals, equipment, diagnostics, biologics, food, and software for dogs, cats, equine &#38; more!" />
<meta property="og:image" content="#" /> {# Image used when sharing on social networks #}

{# Favicon #}
<link rel="icon" href="#" type="image/x-icon">


{% block stylesheets %}
	{# Less Files #}
	{% if STATIC_DEBUG %} {# Use the less compiler #}
		<link href="{{STATIC_URL}}less/main.less" rel="stylesheet/less" type="text/css" />
		<script>
		  less = {
		    strictMath: true
		  };
		</script>
		<script src="{{STATIC_URL}}js/local/less.js"></script>
	{% else %} {# Use one large minified file, built from Grunt #}
		<link href="{{STATIC_URL}}compiled/main.min.css" rel="stylesheet" type="text/css" />
	{% endif %}
{% endblock %}

</head>


<body class="responsive"> {# Can toggle responsive on and off here by adding class responsive#}

{# Include Overlay #}
{% include "layout/overlay.html" %}

{# Include Messages #}
{% include "layout/messages.html" %}

{% block body %}

<div class="body-container">

	{# Header #}
	{% block header %}
		{% include 'layout/header.html' %}
	{% endblock %}
	{# End of Header #}

	{# Content #}
	<div class="content">
		{% block content %}
			{# All the main content goes here #}
		{% endblock %}
	</div>
	{# End of Content #}

	{# Footer #}
	{% block footer %}
		{% include 'layout/footer.html' %}
	{% endblock %}
	{# End of Footer #}

	{# Back to Top#}
	{% block backtotop %}
		<a href="#" class="back-to-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
	{% endblock %}
	{# End of Back to Top #}

</div>

{% endblock %}{# End block body #}



{# Javascript #}
<script language="javascript">var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script> {# Static URL #}

{% if STATIC_DEBUG %}
	{# Everything starts with Jquery #}
	<script src="{{STATIC_URL}}js/required/jquery-2.1.1.min.js" type="text/javascript" ></script>

	{# Add the bootstrap JS manually that we are going to use below#}
	<script src="{{STATIC_URL}}js/bootstrap/bootstrap.js" type="text/javascript" ></script>
	{# End of bootstrap plugins #}

	{# Third Party Plugins #}
	<script src="{{STATIC_URL}}js/plugins/jquery.menu-aim.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/plugins/hoverIntent.js" type="text/javascript" ></script>
	{# <script src="{{STATIC_URL}}js/plugins/autosuggest.js" type="text/javascript" ></script> #}
	<script src="{{STATIC_URL}}js/plugins/sonic.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/plugins/jquery.knob.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/plugins/ajaxform.js" type="text/javascript" ></script>
	<script src="{{STATIC_URL}}js/plugins/jquery.sidr.min.js" type="text/javascript" ></script>
	{# AM Charts #}
		<script src="{{STATIC_URL}}js/plugins/amcharts/amcharts.js" type="text/javascript" ></script>
		<script src="{{STATIC_URL}}js/plugins/amcharts/serial.js" type="text/javascript" ></script>
	{# End of AM Charts #}
	
	{# End of Third Party Plugins #}


	{# Custom Javascript #}
	<script src="{{STATIC_URL}}js/custom/modules.js" type="text/javascript" ></script> {# Modules and helper functions #}
	<script src="{{STATIC_URL}}js/custom/form.js" type="text/javascript" ></script> {# Form Validation #}
	<script src="{{STATIC_URL}}js/custom/forms.js" type="text/javascript" ></script> {# Handles all AJAX forms #}
	<script src="{{STATIC_URL}}js/custom/loader.js" type="text/javascript" ></script> {# Constructs hexagonal loader #}
	<script src="{{STATIC_URL}}js/custom/charts.js" type="text/javascript" ></script> {# Construct charts #}
	
	{# Includes all the main JS elements #}
	<script src="{{STATIC_URL}}js/custom/main.js" type="text/javascript" ></script>
	
	{# End of Custom Javascript #}

{% else %}
	{# Reference a single JS file in production #}
	<script src="{{STATIC_URL}}compiled/main.min.js" type="text/javascript" ></script>
{% endif %}
   

</body>

</html>