
//*********** Forms **************

.form { // Set the standard form width and properties
	margin: 10px auto;
	.intro {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #dadada;
		h1 {
			font-size: 30px;
			line-height: 1.5;
			font-weight: 200;
		}
		p {
			font-weight: 500;
			font-size: 13px;
			color: #999;
			line-height: 1.4;
		}
	}
}

input[type="radio"], input[type="checkbox"] {
	margin-top: 2px;
}
.form-group { // Different types of form groups
	position:relative;
	clear:both; //Standard forms clear both
	&.full {
		width: 100%;
	}
	&.half { // Half the full width
		width: 50%;
	}
	&.third { // 25% of the full width
		width: 33.33%;
	}
	&.quarter { // 25% of the full width
		width: 25%;
	}
	.help-block { // The help block
		font-size: 11px;
		height: 6px;
		margin: 0;
	}
	label {
		margin-left: 2px;
	}
	label span { // Span text
		font-weight: 300;
		color: #666;
	}
	textarea { // The text area
		resize:vertical;
		height: 100px;
		min-height: 50px;
	}
	.checkbox {
		margin: 3px 0;
	}
}

.radio-container, .checkbox-container { //Radio and checkbox container
	clear:both;
	label { //Each choice should have normal thickness
		font-weight: normal;
	}
	.radio-half, .checkbox-half {
		width: 50%;
		margin-bottom: 4px;
		float: left;
		display:block;
	}
}


.inlined-together .form-group { // When two elements should be connected 
	clear:none;
	float: left;
	&:not(:first-child) input, &:not(:first-child) select {
		border-left:none;
		border-radius: 0px;
	}
	&:first-child input, &:first-child select {
		.customRoundedCorners(0,0,3px,3px);
	}
	&:last-child input,&:last-child select {
		border-left:none;
		.customRoundedCorners(3px,3px,0,0);
	}

}

.inlined-separate .form-group { // Inline elements that are not related
	clear:none;
	float: left;
	.error-message {
		right: 5px;
	}
	&:not(:last-child) {
		padding-right: 5px;
		.form-control-feedback {
			right: 5px;
		}
	}
}

.inlined-separate, .inlined-together { //To clear the floats
	&:after {
		display:table;
		content: " ";
		clear:both;
	}
	&.bottompadding {
		padding-bottom: 15px;
	}
}
.status { // Status Icon Formatting 
	.form-control-feedback {
		display:none;
	}
	.icon-check {
		color:@brand-success;
	}
}


.has-error { // Status Icon Toggling 
	label {
		color: #f25454;
	}
	.icon-x {
		display:block;
	}
	.icon-check {
		display:none;
	}
	input:focus + .error-message, select:focus + .error-message, textarea:focus + .error-message { 
		.error-message-fade-in;
	}
	input:not(:focus) + .error-message, select:not(:focus) + .error-message, textarea:not(:focus) + .error-message { 
		.error-message-fade-out;
	}

	input:not([type="file"]),select,textarea { //No background on files
		background: #fff2f2;
	}
}
.has-check { // Has check
	.icon-x {
		display:none;
	}
	.icon-check {
		display:block;
	}
	.error-message {
		display:none;
	}
}

.error-message { // Error Message
	padding: 2px 8px;
	background: #f43d34;
	position:absolute;
	top: -15px;
	max-width: 99%;
	right: 0px;
	border-radius: 3px;
	z-index: 10;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	visibility:hidden;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	&:after {
		position: absolute;
		bottom: -6px;
		right: 8px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-top: 6px solid #f43d34;
		border-left: 6px solid transparent;
		content: '';
	}
}
.error-message-fade-in { // When the message fades in
	transform: translateY(5px);
    visibility: visible;
    opacity: 1;
}
.error-message-fade-out {  // When the message fades out
	visibility: hidden;
}

// Form Submit 
.form-group-submit {
	border-top: 1px solid #dfdfdf;
	margin-top: 20px;
	padding-top: 20px;
	display:table;
	width: 100%;
	.text-div {
		display:table-cell;
		vertical-align: middle;
		padding-top: 1px;
		p {
			margin-bottom: 0px;
			font-weight: 300;
			font-size: 12px;
			line-height: 16px;
		}
	}
	.submit-div {
		display:table-cell;
		text-align: right;
		vertical-align: middle;
	}
}


// Field errors 
form .non-field-errors {
	color: white;
	font-weight: 500;
	background: @colorRed;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
}