
//*********** Forms **************

.form { // Set the standard form width and properties
	margin: 10px auto;
	// Standard form introductory text
	.intro {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #dadada;
		h1 {
			font-size: 30px;
			line-height: 1.5;
			font-weight: 200;
		}
		p {
			font-weight: 500;
			font-size: 13px;
			color: #999;
			line-height: 1.4;
		}
	}
	//Sometimes we use labels outside of form-groups
	label {
		margin-left: 2px;
		color: #666;
		font-weight: 400;
		line-height: 18px;
		font-size: 13px;
		// Help text on a label 
		span {
			font-weight: 300;
			color: #666;
		}
	}
}
// Properly aling checkboxes and radios
input[type="radio"], input[type="checkbox"] {
	margin-top: 2px;
}


// Utility to degrade a form element nicely
.formbreak {
	@media(max-width:670px) {
		width: 100%;
	}
}

// Form groups
.form-group {
	position:relative;
	clear:both; //Standard form element clear both
	&.full {
		width: 100%;
	}
	&.half { // Half the full width
		width: 50%;
		.formbreak;
	}
	&.third { // 25% of the full width
		width: 33.33%;
		.formbreak;
	}
	&.quarter { // 25% of the full width
		width: 25%;
		.formbreak;
	}
	&.sixth { // 25% of the full width
		width: 16.66%;
		.formbreak;
	}
	&.forty { // 25% of the full width
		width: 40%;
		.formbreak;
	}
	&.twenty { // 25% of the full width
		width: 20%;
		.formbreak;
	}
	.help-block { // The help block
		font-size: 10px;
		height: 10px;
		margin: 0;
		.emptyfix;
	}
	.checkbox {
		margin: 3px 0;
	}
	textarea { // The text area
		resize:vertical;
		height: 100px;
		min-height: 50px;
	}
	input:not([type="checkbox"]), select {
		height: 40px;
		font-size: 14px;
		line-height: 20px;
		padding: 9px;
	}
	input:not([type="checkbox"]),select,textarea {
		border:1px solid #ccc;
		border-radius: 2px;
		&:focus {
			border:1px solid @colorBlue;
			box-shadow: none;
		}
	}
}

// Radio and checkbox container
.radio-container, .checkbox-container { 
	clear:both;
	label { // Each choice should have normal thickness
		font-weight: normal;
	}
	.radio-half, .checkbox-half {
		width: 50%;
		margin-bottom: 4px;
		float: left;
		display:block;
	}
}


.inlined-together .form-group { // When two elements should be connected 
	clear:none;
	float: left;
	&:not(:first-child) input, &:not(:first-child) select {
		border-left:none;
		border-radius: 0px;
	}
	&:first-child input, &:first-child select {
		.customRoundedCorners(0,0,2px,2px);
	}
	&:last-child input,&:last-child select {
		border-left:none;
		.customRoundedCorners(2px,2px,0,0);
	}

}

.inlined-separate .form-group { // Inline elements that are not related
	clear:none;
	float: left;
	.error-message {
		right: 5px;
	}
	&:not(:first-child) {
		padding-left: 5px;
		.form-control-feedback {
		}
	}
}

.inlined-separate, .inlined-together { //To clear the floats
	.floatfix;
}

.status { // Status Icon Formatting 
	.form-control-feedback {
		display:none;
	}
	.icon-check {
		color:@brand-success;
	}
}


.has-error { // Status Icon Toggling 
	label {
		color: @colorRed;
	}
	.icon-x {
		display:block;
	}
	.icon-check {
		display:none;
	}
	input, select, textarea {
		border:1px solid @colorRed;
	}
	input:focus + .error-message, select:focus + .error-message, textarea:focus + .error-message { 
		.error-message-fade-in;
	}
	input:not(:focus) + .error-message, select:not(:focus) + .error-message, textarea:not(:focus) + .error-message { 
		.error-message-fade-out;
	}

	input:not([type="file"]),select,textarea { //No background on files
		background: #fff2f2;
	}
	.upload-container {
		background: #fff2f2;
		border:1px solid @colorRed;
	}
}
.has-check { // Has check
	.icon-x {
		display:none;
	}
	.icon-check {
		display:block;
	}
	.error-message {
		display:none;
	}
}

.error-message { // Error Message
	padding: 2px 8px;
	background: #f43d34;
	position:absolute;
	top: -15px;
	max-width: 99%;
	right: 0px;
	border-radius: 3px;
	z-index: 10;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	visibility:hidden;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	&:after {
		position: absolute;
		bottom: -6px;
		right: 8px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-top: 6px solid #f43d34;
		border-left: 6px solid transparent;
		content: '';
	}
}
.error-message-fade-in { // When the message fades in
	transform: translateY(5px);
    visibility: visible;
    opacity: 1;
}
.error-message-fade-out {  // When the message fades out
	visibility: hidden;
}

// Form Submit 
.form-group-submit {
	border-top: 1px solid #dfdfdf;
	margin-top: 20px;
	padding-top: 20px;
	display:table;
	width: 100%;
	.text-div {
		display:table-cell;
		vertical-align: middle;
		padding-top: 1px;
		p {
			margin-bottom: 0px;
			font-weight: 300;
			font-size: 12px;
			line-height: 16px;
		}
	}
	.submit-div {
		display:table-cell;
		text-align: right;
		vertical-align: middle;
	}
}


// Field errors 
.form .non-field-errors {
	color: white;
	font-weight: 500;
	background: @colorRed;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
	.emptyfix;
}

// Password meter
.form .password-meter {
	height: 13px;
	width: 100%;
	.password-block {
		margin-top: 5px;
		height: 6px;
		box-shadow: 0 0 2px rgba(0,0,0,.2) inset;
		width: 14%;
		float: left;
		margin-right: 1%;
		background: #dadada;
	}
	.password-text {
		margin-top: 3px;
		font-weight: 500;
		width: 40%;
		float: left;
		font-size: 10px;
		line-height: 10px;
	}
	.floatfix;
}

// File Upload Box
.upload-container {
	margin: 3px 0 20px 0;
	position:relative;
	width: 100%;
	padding: 20px;
	border-radius: 3px;
	background: #fff;
	border:1px solid #ccc;
	text-align: center;
	i {
		font-size: 50px;
		line-height: 50px;
	}
	h3 {
		font-weight: 300;
		margin: 10px 0;
	}
	.upload-box {
		input[type="file"] {
			position:absolute;
			border:1px solid red;
			left: -1000px;
		}
	}
	.upload-preview {
		display:none;
		img {
			border:2px solid #eee;
			height: 150px;
			width: 150px;
		}
		.upload-clear {
			margin: 10px 5px 5px 5px;
			color: #777;
			span {
				margin-right: 5px;
			}
			&:hover {
				cursor:pointer;
				color: @colorRed;
			}
		}
	}
}