/**************************************/
//******* Page Formatting ************//
/**************************************/

// There are two types of messages, a full width message and a
// small message. Both messages appear top center of the screen

// Message types: success, error, info
//<div class="message-container">
//  <div class="message success">
//	  {{Message Text}}
//	  <div class="x">&#x2716;</div>
//  </div>
//</div>

.message-container {
	display:none;
	width: 100%;
	position:fixed;
	z-index: 200;
	&.info {
		background: #35a3dc;
	}
	&.success {
		background: #57b755;
	}
	&.error {
		background: #ff5858;
	}
	.message {
		padding: 0px 10px;
		height: 50px;
		max-width: 100%;
		width: calc((@pageWidth+-20px));
		margin: 0px auto;
		.bottomRoundedCorners(2px);
		overflow: auto;
		display:table;
		p {
			vertical-align: middle;
			display:table-cell;
			text-align: center;
			line-height: 17px;
			color: #fff;
			font-size: 13px;
			font-weight: 500;
			padding-left: 30px;
		}
		.x {
			display:table-cell;
			vertical-align: middle;
			text-align: center;
			width: 30px;
			font-size: 20px;
			opacity: .4;
			&:hover {
				cursor:pointer;
				opacity: .8;
			}
		}
	}
}